language: node_js

env:
  global:
    - FORCE_COLOR=true
  matrix:
    - ESLINT=7.5
    - ESLINT=7

node_js:
  - 10.22.1
  - 10
  - 12.0
  - 12
  - 14

before_script:
  - 'if [ -n "${ESLINT-}" ]; then npm install --no-save "eslint@${ESLINT}" ; fi'

jobs:
  include:
    - stage: validation
      node_js: 14
      env: ESLINT=7
      script:
        - npm run format:check
        - npm run lint -- --max-warnings 0
    - stage: release
      if: branch = main AND type != pull_request AND fork = false
      node_js: 14
      env: ESLINT=7
      script: npm run build
      deploy:
        provider: script
        skip_cleanup: true
        on:
          branch: main
        script:
          - npx semantic-release
