name: Release

on:
  push:
    branches:
      # semantic-release valid branches
      - '+([0-9])?(.{+([0-9]),x}).x'
      - 'main'
      - 'next'
      - 'next-major'
      - 'beta'
      - 'alpha'

concurrency:
  group: release
  cancel-in-progress: false

permissions:
  id-token: write # to enable use of OIDC (npm trusted publishing and provenance)
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests

jobs:
  verifications:
    name: Verifications
    uses: ./.github/workflows/verifications.yml

  publish:
    name: Publish package
    runs-on: ubuntu-latest
    needs: [verifications]
    # Avoid publishing in forks
    if: github.repository == 'testing-library/eslint-plugin-testing-library'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set up Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'

      # Ensure npm 11.5.1 or later is installed for correct OIDC publishing
      - name: Update npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: pnpm install

      - name: Build package
        run: pnpm run build

      - name: Release new version
        run: pnpm exec semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
