name: Smoke test

on:
  schedule: # Every Sunday at midnight
    - cron: '0 0 * * SUN'
  workflow_dispatch: # Manual trigger
  release:
    types: [published]

permissions:
  issues: write # To create issues for test results

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Use Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'

      - run: |
          pnpm install
          pnpm run build

      - uses: AriPerkkio/eslint-remote-tester-run-action@5724813c126b48e735e7fc08f048f318c3df262d # v5
        with:
          issue-title: 'Results of smoke test'
          issue-label: 'smoke-test'
          eslint-remote-tester-config: eslint-remote-tester.config.ts
