name: Smoke test

on:
  schedule: # Every Sunday at midnight
    - cron: '0 0 * * SUN'
  workflow_dispatch: # Manual trigger
  release:
    types: [published]

permissions:
  issues: write # To create issues for test results

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'

      - run: |
          pnpm install
          pnpm run build

      - uses: AriPerkkio/eslint-remote-tester-run-action@v4
        with:
          issue-title: 'Results of smoke test'
          issue-label: 'smoke-test'
          eslint-remote-tester-config: eslint-remote-tester.config.ts
