name: Smoke test

on:
  schedule:
    - cron: '0 0 * * SUN'
  workflow_dispatch:
  release:
    types: [published]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - run: |
          npm install
          npm run build

      - run: npm link
        working-directory: ./dist

      - run: npm link eslint-plugin-testing-library

      - uses: AriPerkkio/eslint-remote-tester-run-action@v3
        with:
          issue-title: 'Results of weekly scheduled smoke test'
          eslint-remote-tester-config: tests/eslint-remote-tester.config.js
