name: Verifications

on:
  workflow_call:

permissions:
  id-token: write # OIDC auth for Codecov

jobs:
  code-validation:
    name: 'Code Validation: ${{ matrix.validation-script }}'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        validation-script:
          [
            'lint',
            'type-check',
            'format:check',
            'validate-gen-all',
            'bundle-check',
          ]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Set up Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: pnpm install

      - name: Run script
        run: pnpm run ${{ matrix.validation-script }}

  tests:
    name: Tests (Node v${{ matrix.node }} - ESLint v${{ matrix.eslint }})
    runs-on: ubuntu-latest
    timeout-minutes: 3
    strategy:
      fail-fast: false
      matrix:
        node: [18, 20, 21, 22, 23]
        eslint: [8, 9]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Set up Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: 'pnpm'
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: pnpm install

      - name: Install ESLint v${{ matrix.eslint }}
        run: pnpm add eslint@${{ matrix.eslint }}

      - name: Run tests
        run: pnpm run test:ci

      - name: Upload tests coverage report
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        if: ${{ !cancelled() && github.event.action != 'closed' }}
        with:
          use_oidc: true
          report_type: 'coverage'

      - name: Upload tests result report
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        if: ${{ !cancelled() && github.event.action != 'closed' }}
        with:
          use_oidc: true
          report_type: 'test_results'
