name: Verifications

on:
  workflow_call:

jobs:
  code-validation:
    name: 'Code Validation: ${{ matrix.validation-script }}'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        validation-script:
          ['lint', 'type-check', 'format:check', 'generate-all:check']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: npm install

      - name: Run script
        run: npm run ${{ matrix.validation-script }}

  tests:
    name: Tests (Node v${{ matrix.node }} - ESLint v${{ matrix.eslint }})
    runs-on: ubuntu-latest
    timeout-minutes: 3
    strategy:
      fail-fast: false
      matrix:
        node: [12.22.0, 12, 14.17.0, 14, 16, 17, 18, 19, 20, 22]
        eslint: [7.5, 7, 8, 9]
        exclude:
          # eslint@9 doesn't support < Node v18
          - node: 17
            eslint: 9
          - node: 16
            eslint: 9
          - node: 14
            eslint: 9
          - node: 14.17.0
            eslint: 9
          - node: 12
            eslint: 9
          - node: 12.22.0
            eslint: 9
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: npm install

        # see https://github.com/npm/cli/issues/7349
      - if: ${{ matrix.eslint == 9 }}
        run: npm un eslint-plugin-jest eslint-doc-generator

      - name: Install ESLint v${{ matrix.eslint }}
        run: npm install --no-save --force eslint@${{ matrix.eslint }}

      - name: Run tests
        run: npm run test:ci

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
